{% load static %}

{% block body %}
<div class="resto">
    <div class="line">
        <h1>Restorents in Town</h1>
        <p>Explore curated lists of top restaurants, cafes, pubs, and bars in Bhopal, based on trends</p>
    </div>
    
    <div class="option">
        
        <div class="box1">
            <a id="sagar" value="sagar" href="sagar.html"> <img onclick="selectRestaurant('sagar gaire', 'restaurant1.jpg')" src="zresto9.jpeg" alt=""></a>
            <h3>Sagar Gaire</h3>
            <p>North Indian,South Indain And More..</p>
            <p>Awadhpuri Bhopal</p>
            
        </div>
        <div class="box1">
            <img src="zresto2.jpeg" alt="">
            <h3>Sharma Vishnu</h3>
            <p>Bakery, Italian, Fast Food And More..</p>
            <p>Indrapuri Bhopal</p>
        </div>
        <div class="box1">
            <img src="zrestro4.jpeg" alt="">
            <h3>Vasudev Bhojnalay</h3>
            <p>Veg Thali, Daily Tifin And More..</p>
            <p>Indrapuri Bhopal</p>
        </div>
     
    </div>

    
</div>
<div class="resto">

    <div class="option">
        
        <div class="box1">
            <img src="zresto1.jpeg" alt="">
            <h3>Apni Rasoi</h3>
            <p>Pure Veg Indain Restaurant And More..</p>
            <p>Goutam Nagar MP Nagar</p>
        </div>
        <div class="box1">
            <img src="zrestro5.jpeg" alt="">
            <h3>Food Adda</h3>
            <p>Pav Bhaji , Chole Kulche And More..</p>
            <p>Indrapuri Bhopal</p>
        </div>
        <div class="box1">
            <img src="zrestro6.jpeg" alt="">
            <h3>Varndavan Dhaba</h3>
            <p>Indian Food South Indian And More..</p>
            <p>Indrapuri Bhopal</p>
        </div>
     
    </div>

    
</div><hr>
{% endblock  %}